/.idea
/*.iml

/resources/database/devDb
/resources/database/prodDb/*.lock.db

/target/stacktrace.log
/target/work/web.xml.tmp
/target/classes
/target/work/plugin-classes
/target/work/plugin-build-classes
/target/work/scriptCache
/target/work/tomcat
/target/work/resources

/doc/dop
/Описание.txt
